.btn{
    color: black;
    font-size: 1.2rem;
    font-family: serif;
    font-weight: 600;
    transition: 0.3s;
}

.btn:hover{
    background-color: #060f74;
    color: rgb(255, 255, 255);
    transition: 0.3s;
}

.card{
    padding: 10px;
    line-height: 2.2rem;
    transition: 0.3s;
    display: flex;
    border: #060f74 2px solid;
    height: 20rem;
    width: 52rem;
    overflow: hidden;
    gap: 2rem;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border-radius: 2rem;
    position: relative;


}

img{
    width: 20rem;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    align-content: center;
    margin-top: 5%;
}

.card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(217, 9, 9, 0.19);
    transition: 0.3s;
    transform: scale(1.1);

}

.cardBody{
    display: flex;
    max-width: 15rem;
    font-weight: bold;
    flex-direction: column;
    justify-content: center;
    align-items: center;}

.btnToggle{
    margin: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 8px;
    width: 250px;
    background-color: rgb(249, 248, 248);
    color: black;
    position: absolute;
    bottom: 0px;
    left: 65%;
    transform: translateX(-50%);
}

.btnToggle:hover{
    background-color: #060f74;
    color: rgb(255, 255, 255);
    transition: 0.3s;
}

.westi{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.bas{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    padding-left: 90px;
}

.book{
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    transition: 0.3s;
}

.book:hover{
    background-color: #000000;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    transition: 0.3s;
}

.book:active{
    transform: scale(0.9);
    color: rgb(114, 108, 108);
}